@inherits LayoutComponentBase

<main id="augustsession">
    <div class="wrapper">
        <div class="logo">
            <img class="aslogo" src="images/AugustSessions-Logo.png" />
        </div>
        <div class="lineup">
            <picture>
                <source class="imgLineup" media="(min-width: 1130px)" srcset="images/AugustSessions-LineUp-1-full.png" />
                <source class="imgLineup" media="(max-width: 1130px)" srcset="images/AugustSessions-LineUp-3-full.png" />
                <img class="imgLineup" src="images/AugustSessions-LineUp-3-full.png" alt="Lineup Augustsession" />
            </picture>
        </div>
        <div class="buyTicketHere">
            <a href="https://www.ticketmaster.no/artist/beitostolen-live-billetter/1008870"><img class="asBuyTicketHere" src="images/ASBuyTicketHere.png" /></a>
        </div>
        <div class="footer">
            <a href="https://beitostolenlive.no"><img class="logoPartner" src="images/logo-bllive.png" /></a>
            <a href="https://gb.beitostolen.com/"><img class="logoPartner" src="images/logo-beitoresort.png" /></a>
            <a href="https://www.radissonhotels.com/en-us/hotels/radisson-blu-mountain-resort-beitostolen?cid=a:se+b:gmb+c:emea+i:local+e:rdb+d:nob+h:NOVDBRST"><img class="logoPartner" src="images/logo-radisson.png" /></a>
            <a href="https://www.ticketmaster.no/artist/beitostolen-live-billetter/1008870"><img class="logoPartner" src="images/logo-ticketmaster.png" /></a>
        </div>
    </div> 
</main>